@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: white;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(255, 255, 255);
}

.post-container {
  background-color: rgb(47, 42, 75);
  padding: 10px;
  margin: 20px;
  border-radius: 12px;
}

.vote-button {
  background-color: rgb(47, 42, 75);
  border-radius: 50%;
}

.post-container:hover,
.vote-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header {
  background-color: rgb(47, 42, 75);
  padding: 20px;
}

.vote-container {
  background-color: rgb(255, 255, 255);
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 12px;
  border: 1px solid grey;
}

.comment-container {
  background-color: rgb(47, 42, 75);
  padding: 20px;
  margin: 20px;
  border-radius: 12px;
}
